### *Instructions: Execute each cell by clicking 'Run' in the toolbar (you can also do this by pressing 'Shift' + 'Enter'). Some cells require input from you. In order that the script runs correctly, please make sure that the names of files are correct, in the correct directory, and that the contents of this script are not changed.*

***The csv downloaded from AIM contains confidential information; thus this script is not allowed to be run off campus. The csv must be properly deleted after identifiers are removed and the new data exported to a pickled file***

A note about shortcuts and code syntax: While I have worked hard to make this script accessible to everyone, there are a few things that you can do to make working with this script more powerful for yourself

-If you are working inside of a cell, and wish to come out of that cell, press the `Esc` key

-Pressing `m` while a cell is selected (but not active), will convert that cell's output into 'Markdown' (i.e., the language used to display this text). Pressing `y` will convert it back to code

-Highlighting code and pressing `Crtl` + `/` will comment out/in the code. Python uses `#` to denote comments, which also tells the interpreter to ignore that particular line of code. A few cells in this script give you the opportunity to look at the data. Using the keyboard shortcut above, you can make that line of code and active. You can also simply delete the `#` in front of the code

-If you wish to insert a cell, click outside of the cell above/below the location where you wish to place your cell. Press `a` to insert your cell above that cell, and `b` to place your cell below the current cell. If you wish to delete a cell, click outside of the cell you wish to delete, and click the cut (scissors) icon in the toolbar

-Python allows for strings to be entered as either `''` or `""`, but whatever you choose, it must be consistent. If you need to add a string somewhere, keep this in mind

-`ods.shape` prints out (displays) the number of columns and rows; `ods.info()` prints out an info summary about null-values, number of rows and columns, dtypes, column names, etc...(generally the most useful when looking for a high-level overview); `ods.columns` prints out the column names; `ods.head(x)\ods.tail(x)` will print out the *x* number of rows from the top/bottom (*note that x>50 will still generally result in data being cut off when printed to screen*)

In [1628]:
# By convention, we use the alias 'pd' for pandas
import pandas as pd
import glob
import numpy as np

**Place one or more csv files downloaded from the ODS portal in the current working directory (i.e., the folder this script is running from)**

In [1629]:
filenames = glob.glob('*.csv')
filenames

['export (10).csv',
 'export (11).csv',
 'export (7).csv',
 'export (8).csv',
 'export (9).csv']

In [1630]:
list_of_dfs = [pd.read_csv(filename) for filename in filenames]
ods = pd.concat(list_of_dfs, ignore_index=True)

*Run the next cell to look at the names of all the columns*

In [1631]:
# Call the 'columns' attribute to look at the column names
ods.columns

Index(['SchoolID', 'StudentName', 'CRN', 'Subject', 'Course', 'Section',
       'ClassTitleComplete', 'Exam Date', 'ProctorLastName', 'InstructorName',
       'InstructorEmail', 'LocationName', 'Start Time', 'End Time',
       'Total Length', 'Scheduled By', 'Actual Start Time', 'Actual End Time',
       'Actual Total Length', 'Exam Completed', 'No Show', 'Tags', 'TechTags',
       'Barcode', 'First Entered', 'File Uploaded', 'Received As Paper Copy',
       'Rescheduled', 'StudentLastName', 'StudentFirstName',
       'Access to speech-to-text software', 'Access to standing desk',
       'Assessments administered in two parts', 'Breaks during exams',
       'Colored paper for exams and classroom materials',
       'Electronic Reader for Online Exams',
       'Exams and classroom materials in 18 point font or larger',
       'Exams and classroom materials in 24 point font or larger',
       'Extra Time 1.50x', 'Extra Time 1.5x Calculation-based exams',
       'Extra Time 1.5x Writing-based exams', 'Extra Time 2.00x',
       'Extra time 2.00x Calculation-based exams',
       'Extra time 2.0x Writing-based exams',
       'Leniency on spelling and grammar when it is not part of the material being tested',
       'Live Reader for exams', 'Make-up exams due to disability',
       'Medical alert device', 'ODS Proctor',
       'Paper version of computerized calculation-based exams',
       'Paper version of computerized exams',
       'Permission to bring food/drinks into testing environment',
       'Permission to mark on exam - No scantron', 'Reader for exams',
       'Reduced distraction calculation-based exams',
       'Reduced Distraction Environment', 'Scribe for exams',
       'Student may alternate between sitting and standing while testing',
       'Student may handwrite exam responses',
       'Use of a calculator for assessments with a calculation component',
       'Use of computer to type written exam responses'],
      dtype='object')

*We need to remove 'SchoolID', 'StudentName', 'CRN', 'Course', 'ClassTitleComplete', 'InstructorName', 'InstructorEmail', 'Scheduled By','StudentLastName', 'StudentFirstName', 'InstructorEmail' from the dataframe, since these contain confidential information.*

**Verify that the column names are listed above, then execute the cell below**

In [1632]:
ods.drop(columns=['SchoolID', 'StudentName', 'CRN', 'Course', 'ClassTitleComplete', 'InstructorName', 'InstructorEmail', 'Scheduled By',
        'StudentLastName', 'StudentFirstName', 'InstructorEmail'], inplace=True)

**The following are largely irrelevant to test center operations, or the sheer amount of null values make it prohibitive to deal with them**

In [1633]:
ods.drop(columns=[
    'TechTags', 'Barcode', 'Access to speech-to-text software', 'Access to standing desk', 'Assessments administered in two parts', 'Electronic Reader for Online Exams',
    'Extra Time 1.5x Calculation-based exams', 'Extra Time 1.5x Writing-based exams', 'Extra time 2.00x Calculation-based exams',
    'Extra time 2.0x Writing-based exams', 'Leniency on spelling and grammar when it is not part of the material being tested',
    'Live Reader for exams', 'ODS Proctor', 'Paper version of computerized calculation-based exams', 
    'Permission to bring food/drinks into testing environment', 'Reduced distraction calculation-based exams', 'Scribe for exams', 
    'Student may alternate between sitting and standing while testing', 'Student may handwrite exam responses'
], inplace = True)

*If you wish to see how certain characterisics of the dataframe right now, highlight the code you wish to run and press `Crtl` + `/`(note, this is optional)*

**Drop values that have the "Not Available" html script**

In [1634]:
index = ods.loc[ods['End Time']=='<font class=red"><abbr title="Not Available">N/A</abbr></font>"'].index
ods.drop(index=index, inplace=True)

*Use this opportunity to look at the data by 'uncommenting' the line of code you wish to run (note, refer to the beginning of the script for help)*

In [1635]:
# # ods.shape
# ods.info()
# ods.head(25)
# ods.tail(25)

*Since the occurence of large size font for exams is limited compared to the total number of exams that ODS proctors, and it is the Instructor's duty to provide the large size font, we can drop these as well.*

**Drop additional unneeded columns**

In [1636]:
ods.drop(columns=['Colored paper for exams and classroom materials', 'Exams and classroom materials in 18 point font or larger', 
                  'Exams and classroom materials in 24 point font or larger', 
                  'Tags', 'Use of a calculator for assessments with a calculation component',
                  'Paper version of computerized exams', 'Use of computer to type written exam responses', 
                  'Medical alert device'],
                  inplace=True)

## Checking Dtypes and Filling Null Values

**Covert the datetime columns to datetime64 dtype**

In [1637]:
ods['Exam Date'] = ods['Exam Date'].astype('datetime64')
ods['First Entered'] = ods['First Entered'].astype('datetime64')
ods['Start Time'] = ods['Start Time'].astype('datetime64').dt.time
ods['End Time'] = ods['End Time'].astype('datetime64').dt.time
ods['Actual Start Time'] = ods['Actual Start Time'].astype('datetime64').dt.time
ods['Actual End Time'] = ods['Actual End Time'].astype('datetime64').dt.time

**Rename the columns**

In [1638]:
mapper = {'First Entered': 'first_entered', 'Exam Date': 'exam_date', 'Start Time': 'start_time', 'End Time': 'end_time', 'Actual Start Time': 'actual_start',
         'Actual End Time': 'actual_end'}
ods.rename(columns=mapper, inplace=True)

**Rename the Total and Actual Length Columns and change dtype for actual time to float64**

In [1639]:
ods['allotted_time'] = ods['Total Length']
ods['actual_time'] = ods['Actual Total Length']

# Convert 'Alloted_Time to match the data with actual time 
ods['allotted_time'] = ods['allotted_time'].astype('float64')


# Drop Total Length and Actual Length
ods.drop(columns=['Actual Total Length', 'Total Length'], inplace=True)

**We will also drop 'Reduced Distraction Environment' since all students testing at ODS test in an isolated environment regardless of accommodation**

In [1640]:
ods.drop(columns=['Reduced Distraction Environment'], inplace=True)

**We need to handle null values. Replace all null values in categorical columns with "No."**

In [1641]:
# Create variable to store the index of columns that we want to work with
cat_cols = ods.select_dtypes(exclude=['number', 'datetime64']).columns

#Drop the remaining columns that don't take 'yes/no' responses
cat_cols = cat_cols.drop(['Subject', 'LocationName','ProctorLastName', 'actual_start', 'actual_end'])

# Use '.fillna()' to fill in the null values with 'No'
ods[cat_cols] = ods[cat_cols].fillna('No')

**Let's fill the null values in 'Rescheduled' with 0.0**

In [1642]:
# Set null values for rescheduled to be 0.0
ods['Rescheduled'].fillna(0.0, inplace=True)

**Let's handle the null values for 'ProctorLastName'. Set these vaules to be 'Unspecified'**

In [1643]:
ods['ProctorLastName'].fillna('Unspecified', inplace=True)

**Fill 'NaT' Values with the value of the exam start and finish times**

In [1644]:
ods['actual_start'].fillna(ods['start_time'], inplace=True)
ods['actual_end'].fillna(ods['end_time'], inplace=True)

In [1645]:
ods.columns

Index(['Subject', 'Section', 'exam_date', 'ProctorLastName', 'LocationName',
       'start_time', 'end_time', 'actual_start', 'actual_end',
       'Exam Completed', 'No Show', 'first_entered', 'File Uploaded',
       'Received As Paper Copy', 'Rescheduled', 'Breaks during exams',
       'Extra Time 1.50x', 'Extra Time 2.00x',
       'Make-up exams due to disability',
       'Permission to mark on exam - No scantron', 'Reader for exams',
       'allotted_time', 'actual_time'],
      dtype='object')

**Create a new column to store 'exam_cancelled' values**

In [1646]:
ods['exam_cancelled'] = ods['Exam Completed']=='No'
ods['no_show'] = ods['No Show'] == 'Yes'

**Drop 'Exam Completed' and 'No Show'**

In [1647]:
ods.drop(['Exam Completed'], axis=1, inplace=True)
ods.drop(['No Show'], axis=1, inplace=True)

In [1648]:
index = ods.loc[(ods['actual_start'].isna()) & 
            (ods['exam_cancelled']=='Yes') & (ods['no_show']=='No')].index

ods.drop(index=idx, inplace = True)

**Create a column that stores the amount of days a request was submitted before the exam**

In [1649]:
ods['days_requested_submitted_in_advance'] = (ods['exam_date'].dt.date - ods['first_entered'].dt.date)/pd.Timedelta(days=1)

**Before we continue, we need to dress things up a bit. Recast the dtypes for LocationName and First Entered**

In [1650]:
ods[['LocationName']] = ods[['LocationName']].astype('string')

# ods['First Entered'] = ods['First Entered'].astype('datetime64', errors='ignore')

**Change the names of the columns to something more concise**

In [1651]:
mapperDict = {'Subject':'subject', 'Course': 'course', 'Section':'section', 'ProctorLastName':'proctor',
                      'LocationName':'room_number', 'First Entered':'firstEntered', 'File Uploaded':'fileUploaded',
                      'Received As Paper Copy': 'received_as_paper_copy',
                      'Rescheduled':'rescheduled', 'Breaks during exams': 'breaks_during_exams',
                      'Extra Time 1.50x':'extra_time_1.50x', 'Extra Time 2.00x': 'extra_time_2.00x',
                      'Make-up exams due to disability':'makeup_accommodation',
                      'Permission to mark on exam - No scantron':'noScantronExam', 'Reader for exams': 'readerForExams'}



ods.rename(columns = mapperDict, inplace = True)

**Change nulls in 'room_number' to 'Not Specified'**

In [1652]:
ods['room_number'].fillna('Not Specified', inplace=True)

In [1653]:
# ods['actual_time'].fillna('', inplace=True)

In [1654]:
ods

,subject,section,exam_date,proctor,room_number,start_time,end_time,actual_start,actual_end,first_entered,...,extra_time_1.50x,extra_time_2.00x,makeup_accommodation,noScantronExam,readerForExams,allotted_time,actual_time,exam_cancelled,no_show,days_requested_submitted_in_advance
0,CHE,1,2019-08-29,Vanslambrouck,11,13:25:00,14:40:00,13:25:00,13:37:00,2019-08-27 18:30:00,...,No,No,No,No,No,75.0,12.0,False,False,2.0
1,CHE,1,2019-08-29,Unspecified,40,15:00:00,16:53:00,14:55:00,15:16:00,2019-08-27 12:33:00,...,Yes,No,No,No,No,113.0,21.0,False,False,2.0
2,CHE,1,2019-08-29,Vanslambrouck,39,17:00:00,19:30:00,16:58:00,17:16:00,2019-08-21 18:39:00,...,No,Yes,No,No,No,150.0,18.0,False,False,8.0
3,AC,15,2019-08-30,Bulls,40,08:45:00,09:25:00,08:43:00,08:49:00,2019-08-26 18:19:00,...,No,Yes,No,No,No,40.0,6.0,False,False,4.0
4,HY,19,2019-08-30,Unspecified,39,08:45:00,09:25:00,08:45:00,09:25:00,2019-08-27 11:10:00,...,No,Yes,No,No,No,40.0,NaN,False,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11235,PSC,1,2020-05-01,Unspecified,04,11:30:00,15:15:00,11:30:00,15:15:00,2020-01-08 13:25:00,...,Yes,No,No,No,No,225.0,NaN,True,False,114.0
11236,AEM,3,2020-05-01,Unspecified,03,12:00:00,16:30:00,12:00:00,16:30:00,2020-01-26 14:04:00,...,Yes,No,Yes,No,No,270.0,NaN,True,False,96.0
11237,MC,1,2020-05-05,Unspecified,01,12:30:00,14:23:00,12:30:00,14:23:00,2020-02-29 23:12:00,...,Yes,No,No,Yes,No,113.0,NaN,True,False,66.0
11238,ECE,2,2020-05-06,Unspecified,01,12:00:00,13:40:00,12:00:00,13:40:00,2020-03-02 18:11:00,...,No,Yes,No,No,No,100.0,NaN,True,False,65.0
11239,ECE,1,2020-05-27,Unspecified,01,11:30:00,16:30:00,11:30:00,16:30:00,2020-03-02 18:07:00,...,No,Yes,No,No,No,300.0,NaN,True,False,86.0

## Create a New DataFrame to Store Final Exam Values

In [1655]:
ods[(ods['exam_date'] >= '04-26-2021') & (ods['exam_date'] <= '04-30-2021')]

# ods[(ods['exam_date'] >= '12-09-2019') & (ods['exam_date'] <= '12-13-2019')
#                      | (ods['exam_date'] == '11/22/2019') & (ods['subject'] == 'GBA')]

,subject,section,exam_date,proctor,room_number,start_time,end_time,actual_start,actual_end,first_entered,...,extra_time_1.50x,extra_time_2.00x,makeup_accommodation,noScantronExam,readerForExams,allotted_time,actual_time,exam_cancelled,no_show,days_requested_submitted_in_advance
6490,KIN,1,2021-04-26,Vanslambrouck,13,07:50:00,08:40:00,07:51:00,08:31:00,2021-04-20 17:23:00,...,No,No,No,No,No,50.0,40.0,False,False,6.0
6491,BSC,1,2021-04-26,Vanslambrouck,02,07:55:00,13:55:00,07:53:00,09:08:00,2021-01-31 13:05:00,...,Yes,No,No,No,No,360.0,75.0,False,False,85.0
6492,EC,3,2021-04-26,Vanslambrouck,01,07:55:00,11:40:00,07:55:00,09:36:00,2021-01-22 15:16:00,...,Yes,No,No,No,No,225.0,101.0,False,False,94.0
6493,CH,1,2021-04-26,Unspecified,32,08:00:00,10:00:00,08:15:00,09:45:00,2021-04-19 13:27:00,...,Yes,No,No,Yes,Yes,120.0,90.0,False,False,7.0
6494,CH,1,2021-04-26,Unspecified,50,08:00:00,11:45:00,08:07:00,11:43:00,2021-03-25 14:57:00,...,Yes,No,No,No,No,225.0,216.0,False,False,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6636,PY,1,2021-04-30,Bulls,13,11:30:00,15:15:00,11:32:00,12:07:00,2021-04-19 17:42:00,...,Yes,No,No,No,No,225.0,35.0,False,False,11.0
6637,PY,1,2021-04-30,Bulls,10,11:30:00,15:15:00,11:29:00,12:08:00,2021-04-19 01:16:00,...,Yes,No,No,No,No,225.0,39.0,False,False,11.0
6638,PY,1,2021-04-30,Unspecified,01,11:30:00,15:15:00,11:30:00,15:15:00,2021-01-27 18:21:00,...,Yes,No,No,No,No,225.0,NaN,True,False,93.0
6639,CE,1,2021-04-30,Bulls,11,11:35:00,15:20:00,11:34:00,13:50:00,2021-04-26 13:11:00,...,Yes,No,No,No,No,225.0,136.0,False,False,4.0
6640,MATH,1,2021-04-30,Bulls,07,11:35:00,16:35:00,11:35:00,13:24:00,2021-02-19 19:54:00,...,Yes,No,No,No,No,300.0,109.0,False,False,70.0

*We do not have finals data for Spring 20 and Fall 20 semesters due to the outbreak of covid-19; finals were taken online for those semesters*

In [1656]:
summer_19_finals = ods[(ods['exam_date'] >= '08-01-2019') & (ods['exam_date'] <= '08-02-2019')]
fall_19_finals = ods[(ods['exam_date'] >= '12-09-2019') & (ods['exam_date'] <= '12-13-2019')]
spring_21_finals = ods[(ods['exam_date'] >= '04-26-2021') & (ods['exam_date'] <= '04-30-2021')]

In [1657]:
index = ods[(ods['exam_date'] >= '08-01-2019') & (ods['exam_date'] <= '08-02-2019')|
             (ods['exam_date'] >= '12-09-2019') & (ods['exam_date'] <= '12-13-2019')|
             (ods['exam_date'] >= '04-26-2021') & (ods['exam_date'] <= '04-30-2021')].index

ods.drop(index=index, inplace=True)

In [1658]:
fall_19_finals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1153 entries, 4441 to 5596
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   subject                              1153 non-null   object
 1   section                              1153 non-null   int64
 2   exam_date                            1153 non-null   datetime64[ns]
 3   proctor                              1153 non-null   object
 4   room_number                          1153 non-null   string
 5   start_time                           1153 non-null   object
 6   end_time                             1153 non-null   object
 7   actual_start                         1153 non-null   object
 8   actual_end                           1153 non-null   object
 9   first_entered                        1153 non-null   datetime64[ns]
 10  fileUploaded                         1153 non-null   object
 11  received_as_paper_copy               1153 non-null   object
 12  rescheduled                          1153 non-null   float64
 13  breaks_during_exams                  1153 non-null   object
 14  extra_time_1.50x                     1153 non-null   object
 15  extra_time_2.00x                     1153 non-null   object
 16  makeup_accommodation                 1153 non-null   object
 17  noScantronExam                       1153 non-null   object
 18  readerForExams                       1153 non-null   object
 19  allotted_time                        1153 non-null   float64
 20  actual_time                          756 non-null    float64
 21  exam_cancelled                       1153 non-null   bool
 22  no_show                              1153 non-null   bool
 23  days_requested_submitted_in_advance  1153 non-null   float64
dtypes: bool(2), datetime64[ns](2), float64(4), int64(1), object(14), string(1)
memory usage: 209.4+ KB

In [1659]:
odsFinals = pd.concat([summer_19_finals, fall_19_finals, spring_21_finals], ignore_index=True)

**Name the exported file (Do not add the extension)**

In [1660]:
reg_file=input("Enter the name of the file you wish to use for regular semester (Don't add the extension): ")
finals_file = input("Enter the name of the file you wish to use for final exams (Don't add the extension): ")

Enter the name of the file you wish to use for regular semester (Don't add the extension): ods_reg_ready_3
Enter the name of the file you wish to use for final exams (Don't add the extension): ods_finals_ready_3

In [1661]:
ods.to_pickle(f'{reg_file}.pkl')
odsFinals.to_pickle(f'{finals_file}.pkl')