In [3]:
%pip install sqlalchemy
%pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\musia\appdata\local\programs\python\python39\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\musia\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.2; however, version 21.2.1 is available.
You should consider upgrading via the 'c:\users\musia\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pip in c:\users\musia\appdata\local\programs\python\python39\lib\site-packages (21.1.2)
Collecting pip
  Downloading pip-21.2.1-py3-none-any.whl (1.6 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.2
    Uninstalling pip-21.1.2:
      Successfully uninstalled pip-21.1.2
Successfully installed pip-21.2.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import sqlalchemy 
import seaborn as sns

In [6]:
# ods = pd.read_pickle('pickled_export_ods_v06.pkl')

In [7]:
# ods

,subject,section,exam_date,proctor,room_number,start_time,end_time,actual_start,actual_end,first_entered,...,extra_time_2.00x,makeup_accommodation,noScantronExam,readerForExams,allotted_time,actual_time,exam_cancelled,no_show,requested_in_advance,name_of_day
0,CHE,1,2019-08-29,Vanslambrouck,11,2019-08-29 13:25:00,2019-08-29 14:40:00,2019-08-29 13:25:00,2019-08-29 13:37:00,2019-08-27 18:30:00,...,No,No,No,No,75,12,False,False,2,Thursday
1,CHE,1,2019-08-29,Unspecified,40,2019-08-29 15:00:00,2019-08-29 16:53:00,2019-08-29 14:55:00,2019-08-29 15:16:00,2019-08-27 12:33:00,...,No,No,No,No,113,21,False,False,2,Thursday
2,CHE,1,2019-08-29,Vanslambrouck,39,2019-08-29 17:00:00,2019-08-29 19:30:00,2019-08-29 16:58:00,2019-08-29 17:16:00,2019-08-21 18:39:00,...,Yes,No,No,No,150,18,False,False,8,Thursday
3,AC,15,2019-08-30,Bulls,40,2019-08-30 08:45:00,2019-08-30 09:25:00,2019-08-30 08:45:00,2019-08-30 08:49:00,2019-08-26 18:19:00,...,Yes,No,No,No,40,4,False,False,4,Friday
4,HY,19,2019-08-30,Unspecified,39,2019-08-30 08:45:00,2019-08-30 09:25:00,2019-08-30 08:45:00,2019-08-30 09:25:00,2019-08-27 11:10:00,...,Yes,No,No,No,40,0,False,True,3,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,GEO,1,2020-03-13,Bulls,03,2020-03-13 12:00:00,2020-03-13 13:30:00,2020-03-13 12:00:00,2020-03-13 13:30:00,2020-01-17 16:55:00,...,No,No,No,No,90,0,False,True,56,Friday
9547,ME,2,2020-03-13,Bulls,07,2020-03-13 12:00:00,2020-03-13 13:30:00,2020-03-13 12:00:00,2020-03-13 13:16:00,2020-01-23 16:43:00,...,Yes,No,No,No,90,76,False,False,50,Friday
9548,ME,2,2020-03-13,Bulls,12,2020-03-13 12:00:00,2020-03-13 13:08:00,2020-03-13 12:00:00,2020-03-13 13:17:00,2020-01-10 09:34:00,...,No,No,No,No,68,77,False,False,63,Friday
9549,ME,920,2020-03-13,Bulls,13,2020-03-13 12:05:00,2020-03-13 13:35:00,2020-03-13 12:05:00,2020-03-13 13:40:00,2020-01-25 18:47:00,...,Yes,No,No,No,90,95,False,False,48,Friday
9550,OM,1,2020-03-13,Unspecified,25,2020-03-13 12:30:00,2020-03-13 14:10:00,2020-03-13 12:30:00,2020-03-13 14:10:00,2020-02-01 12:06:00,...,Yes,No,No,No,100,0,True,False,41,Friday